body{
	background-image: url(https://i.imgur.com/ylAdzSA.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

button{
	border: 2px solid #45c457;	
    padding: 1.5% 5%;
    border-radius:4px;
	margin-top: 3%;
	margin-left: 3%;
	margin-right: 3%;
    cursor:pointer;
	font-family: 'Condiment';
}

button:hover {
	border: 2px solid white;
    background:#45c457;
	transition-duration: 0.3s;
}

.btn{	
	font-size: 1.8vw;
	margin-bottom: 3%;
}

.wideBtn{
	padding: 1% 4%;
	font-size: 1.8vw;
}

.smallBtn{
	padding: 1% 1%;
	font-size: 1.0vw;
	font-family: 'Arial';
}

.mediumBtn{
	padding: 1% 3%;
	font-size: 2.5vw;
}

.bigBtn{	
	font-size: 3.0vw;
}


#main-window{
	width: 100%;
	text-align:center;
	min-height: 500px;
}

.title-font{
	font-family: 'Condiment';
	font-size: 2.6vw;
}

#game-title{
	margin-top: 7%;
	margin-bottom: 7%;
	font-size: 4.0vw;
}

.bottom-buttons{
	margin-top: 2%;
	text-align: center;
	margin-bottom: 2%;
}

#info-text{
	margin-top: 3%;
	font-size: 3.0vw;
}

#player-num-title{
	margin-top: 4%;
	margin-bottom: 2%;
	font-size: 3.0vw;
}

#start-window{
	display: block;
}

#game-over-panel{
	margin-top: 3%;
}

#playerCount{
	margin-left: 2%;
	margin-right: 2%;
}

.hidden-window{
	text-align: center;
	display: none;	
}

#side-panel{
	width: 25%;
	float: left;
	text-align: center;
	margin-left: 3%;
}

.hide-scrollbar {
    overflow: hidden;
}

#scrollbar{
	width: 80%;
	max-height: 35.0vw;
	overflow: auto;
	margin-right: -100px;
    padding-right: 100px;
    display: inline-block;
    vertical-align: top;
}


#table-area{
	width: 70%;
	float: left;
	text-align: center;
	display: inline-block;
	
}

.scrollbar-element{
	width: 60%;
}

.scrollbar-cards{
	width: 46%;
	margin-left: 2%;
	margin-right: 2%;
}

.player{
    width: 90%;
    border: solid 5px #45c457;
    border-radius: 5%;
    padding: 4%;
    display: inline-block;
    margin:1%;
	text-align: center;
    vertical-align: top;
    background-color:rgba(0,255,0,0.1);

}

.cardImg{
	width: 31%;
	float: left;
	margin-left: 2%;
	margin-top: 2%;
}

.button-panel{
	width: 100%;
	text-align: center;
}